@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Nobile&family=Roboto:wght@300&display=swap');

.section {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    overflow-y: visible;
    height: 100%;
}

.sub-section {
    margin-top: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Cormorant Infant', serif;
    font-size: 42px;
}

.subTitle {
    font-size: 16px;
    font-family: 'Nobile', sans-serif;
    text-align: center;
    padding: 0 8%;
}

.text {
    text-align: center;
    padding: 3% 8%;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.titleSection {
    padding-top: 10%;
    font-family: 'Cormorant Infant', serif;
    font-size: 34px;
}

@media only screen and (min-width: 769px) {
    /* .section {
        background-color: azure;
    } */
}